<div class="row mt-6" *ngIf="producto">
  <div class="cold-md4 mx-auto">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Detalles Del Producto
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>ID: </b>{{producto.id}}</li>
        <li class="list-group-item"><b>NOMBRE: </b>{{producto.nombre}}</li>
        <li class="list-group-item"><b>PRECIO: </b>{{producto.precio}}</li>
      </ul>
    </div>
    <div class="card-footer">
      <button class="btn btn-outline-primary btn-block" (click)="volver()" ><i class="far fa-arrow-alt-circle-left"></i> Volver</button>
    </div>
  
  </div>
</div>